server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/chat
    username: chat
    password: chat
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
management:
  endpoints:
    web:
      exposure:
        include: mappings,health
